@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overscroll-behavior-x: none;
}

body {
  background: #444140;
  overscroll-behavior-x: none;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Specified height */
  background: #ddd; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Slightly transparent */
  transition: opacity 0.2s; /* 0.2 seconds transition on hover */
}

.slider:hover {
  opacity: 1; /* Fully opaque on hover */
}

.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  height: auto;
  background: #e54b4b; /* Red background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-track {
  background: #e54b4b; /* Red background */
  height: 0.5rem;
  cursor: pointer; /* Cursor on hover */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
